$color-emphasize: #ffbb11;

// ALEKSEI REGULAR WOFF & WOFF2
@font-face {
  font-family: "Aleksei";
  src: url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff);
  src: url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff) format("embedded-opentype"),
    url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff2) format("woff2"),
    url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff) format("woff");
}

@font-face {
  font-family: "Aleksei";
  src: url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Thin.woff);
  src: url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Thin.woff) format("embedded-opentype"),
    url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Thin.woff2) format("woff2"),
    url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Thin.woff) format("woff");
}

// ROBOTO REGULAR + MEDIUM
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

body {
  margin: inherit;
  // overflow: hidden;
  opacity: 0;
  animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) loadingAnim forwards;
  animation-delay: 2s;
  overflow: hidden;
  h1,
  h2,
  h3,
  h4,
  ul,
  p,
  span,
  strong,
  li {
    margin: 0;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
*:active {
  outline: none;
}
*:focus {
  outline: 0;
}
@keyframes loadingAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main {
  display: flex;
  width: 100%;
}

.text {
  &-product-description {
    font-family: "Roboto", sans-serif;
    font-size: 12.5px;
    letter-spacing: 0.1;
    color: #6c6c6c;
  }
  &-tab {
    font-size: 11.5px;
    font-family: "Roboto", sans-serif;
    color: #000000;
    letter-spacing: 1px;
    z-index: 999;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 400;
    &.forbidden {
      cursor: not-allowed !important;
      // pointer-events: none;
    }
    &.deactivated {
      opacity: 0.1 !important;
      pointer-events: none;
    }
  }
  &-button {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    letter-spacing: 1.25px;
    // text-decoration: underline;
    text-transform: uppercase;
  }
  &-small {
    font-size: 10px;
    letter-spacing: 0.4;
    font-family: "Roboto", sans-serif;
  }
  &-description {
    font-size: 12px;
    letter-spacing: 0.4;
    font-family: "Roboto", sans-serif;
  }
  &-medium {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #000000;
  }
}
.three-model-container {
  position: relative;
  height: 100vh;
  width: 52%;
  width: 80vw;
  width: 60vw;
  display: flex;
  background: #f8f5f3;
  overflow: hidden;
  &.nightmode {
    background: #0f0f0f;
  }
  .view-plus {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    width: 32px;
    display: inline;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-image: url(../src/assets/view-plus.svg);
    cursor: pointer;
    background-size: contain;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      opacity: 1;
      height: 38px;
      width: 38px;
    }
    &.hide {
      opacity: 0;
      display: none;
    }
    &.active {
      background-image: url(../src/assets/view-minus.svg);
      height: 62px;
      width: 62px;
      opacity: 0.3;

      & .view-plus:not(.active) {
        // background: pink;
      }
    }
  }
  .three-navigation {
    position: absolute;
    width: 14%;
    list-style: none;
    align-items: center;
    text-align: center;
    display: grid;
    bottom: 0;
    top: inherit;
    display: flex;
    position: absolute;
    border-top: 1px solid #00000020;
    width: 100%;
    left: 0;
    right: inherit;
    padding: inherit;
    height: 6vh;
    overflow: hidden;

    li {
      // width: 47.5%;
      width: 50%;
      &:not(:last-child) {
        border-right: 1px solid #00000020;
      }
      &:last-child {
        // width: 5%;
      }
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
      height: 100%;
      &:hover {
        background: #00000010;
      }
    }

    .navigation-element {
      height: 41px;
      width: 28px;
      margin-right: 12px;
      margin-left: -24px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
      &.fullscreen {
        &::after {
          content: "";
          position: absolute;
          height: 14px;
          width: 14px;
          background-image: url(../src/assets/full-screen.svg);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: 14px;
        }
      }
      &.plus {
        &::after {
          content: "";
          position: absolute;
          height: 16px;
          width: 16px;
          background-image: url(../src/assets/plus.svg);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: 13px;
        }
      }
      &.nightmode {
        margin-right: 0px;
        margin-left: 9px;
        &::after {
          content: "";
          position: absolute;
          height: 17px;
          width: 28px;
          background-image: url(../src/assets/moon.svg);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: 12px;
        }
      }
      &.expanded {
        &::after {
          content: "";
          position: absolute;
          height: 28px;
          width: 28px;
          background-image: url(../src/assets/expand.svg);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: 16.5px;
          width: 20px;

          width: 24px;
          margin-top: 16.5px;
        }
      }
      &.active {
        &.nightmode::after {
          margin-top: 13px;
          height: 16px;
          background-image: url(../src/assets/sun.svg);
        }
        &.expanded::after {
          background-image: url(../src/assets/shrink.svg);
          width: 24px;
          margin-top: 16.5px;
        }
        &.fullscreen::after {
          margin-top: 12px;
          background-image: url(../src/assets/contract.svg);
        }
      }
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
    &.nightmode {
      border-top: 1px solid #ffffff20;
      .fullscreen::after {
        background-image: url(../src/assets/full-screen-white.svg);
      }
      .expanded::after {
        background-image: url(../src/assets/expand-white.svg);
      }
      .fullscreen.active {
        &::after {
          background-image: url(../src/assets/contract-white.svg);
        }
      }
      .expanded.active {
        &::after {
          background-image: url(../src/assets/shrink-white.svg);
        }
      }
      li {
        color: #fff;

        &:not(:last-child) {
          border-right: 1px solid #ffffff20;
        }
        &:hover {
          background: #ffffff10;
        }
      }
    }
  }

  #three-model {
    height: 100%;
    width: 86%;
    // width: 51vw;
    // padding-right: 14%;
  }
  .three-currentmaterial {
    display: none;
  }
  &.toggledFullscreen {
    position: absolute;
    z-index: 99;
    width: 100%;

    .three-navigation {
    }
  }
}

.content-area {
  background: #fefdfb;
  height: 100vh;
  width: 40vw;
  display: flex;
}

.glasses-picker-container {
  width: 16vw;
  height: 94vh;
  top: 6vh;
  position: relative;
  .glasses {
    opacity: 0.3;
    width: 100%;
    height: 14.4%;
    display: block;
    transition: all 0.1s ease-in;
    position: relative;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #00000020;
    height: 14.14%;
    &.even {
      background-color: #f8f5f3;
    }
    &:hover {
      cursor: pointer;
    }
    img {
      margin-top: -1vw;
      width: 7.3vw;
    }

    h4 {
      margin-top: -17px;
      font-weight: 500;
      position: absolute;
      margin: 0 auto;
      bottom: 8px;
      left: 0;
      right: 0;
    }
    span {
      font-weight: 600;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
    }
    &:hover {
      transform: perspective(1000px) translateZ(24px);
      box-shadow: 7px 9px 40px 0px rgb(0, 0, 0, 0.2);
      opacity: 1;
      z-index: 12;
      background: white;
    }
    &.selected {
      background: white;
      opacity: 1;
      box-shadow: -4px 2px 6px #00000012;
      overflow: hidden;
      z-index: 12;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        height: 24px;
        width: 24px;
        border-radius: 9999px;
        background-repeat: no-repeat;
        background-size: 8px;
        background-position: center center;
        margin: 0 auto;
        left: 0;
        right: 0;
        margin-top: 4px;
      }
    }
  }
}

.material-picker-container {
  width: calc(100% - 4px);
  background: #ffffff;
  box-shadow: 22px -26px 24px #000;
  z-index: 10;
  padding-top: 44px;
  position: relative;

  .material-index {
    position: absolute;
    z-index: 999999;
    margin-top: 39px;
    margin-left: -25px;
    color: white;
    background: black;
    padding: 4px;
    border-radius: 33px;
    width: 12px;
    height: 12px;
    font-weight: 500;
    text-align: center;
    font-size: 10px;
    width: 14px;
    height: 14px;
    font-size: 12px;
    margin-top: 35px;
    &.active {
      opacity: 0.2;
    }
  }
  .random-butons {
    margin-left: 15%;
    margin-top: -4px;
    cursor: pointer;

    .random {
      opacity: 0.4;
      font-weight: 400;
      display: inline-block;
      margin-top: 20px;
      height: 40px;
      margin-left: 15px;
      letter-spacing: 0.25px;
      text-transform: inherit;
      cursor: pointer;

      transition: 1s all ease-out;
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }

      &:not(.reset) {
        // margin-left: 28%;
        margin-right: 12px;
      }
      &::before {
        content: "";
        position: absolute;
        height: 12px;
        width: 12px;
        background-image: url("../src/assets/random.svg");
        margin-left: -19px;
        margin-top: 3px;
        background-repeat: no-repeat;
      }
      &.reset {
        // margin-left: 4%;
        &::before {
          background-image: url("../src/assets/reset.svg");
        }
      }
    }
  }

  .material-picker-stretch {
    margin-top: 2vh;
    // height: 57vh;
    height: 71%;
    height: 69%;
    // height: 79vh;

    display: flex;
    flex-wrap: wrap;
  }
  .material-picker {
    display: flex;
    width: 79.4%;
    width: 87.4%;
    height: 72px;
    margin-left: 9.4%;
    &:not(:first-child) {
      margin-top: 8px;
      margin-top: 2px;
    }
    .index {
      line-height: 7.2;
      margin-left: -18%;
      margin-right: 15%;
    }

    .overview,
    .tab-overview {
      position: relative;
      display: flex;
      list-style-type: none;
      width: 100%;
      padding-inline-start: 0;
      margin-left: 9px;
      width: calc(100% - 27px);

      li {
        display: grid;
        width: 33%;
        text-align: center;
        align-items: center;
        cursor: pointer;
        height: 30px;
        height: 24px;
        &:not(.text-description) {
          opacity: 0.3;
        }
        &.active {
          border-bottom: 2px solid black;
          opacity: 1;
          font-weight: 500;
        }
      }
      .detector {
        width: 42px;
        height: 100%;
        position: absolute;
        z-index: 999;
        pointer-events: none;
        &-left {
          top: 0;
          left: 0;
          // border: 1px solid red;
        }
        &-right {
          width: 69px;
          top: 0;
          right: 0;
          // border: 1px solid red;
        }
      }
      .swiper {
        height: 30px;
        position: absolute;
        display: block;
        width: 91%;
        padding: 30px 17px 14px 0;
        margin-left: 9px;
        &-text-selected {
          position: absolute;
          z-index: 4;
          color: #000000;
          letter-spacing: 0.6px;
          right: 0;
          background: #fff;
          height: calc(100% - 44px);
          line-height: 3.5;
          width: 136px;
          padding-left: 12px;
          top: 30px;
          height: 32px;
          line-height: 1.2;
          line-height: 2.5;
          // outline: black 1px solid;

          font-weight: 500;

          background: #f1edeb;

          &::after {
            content: "";
            position: absolute;
            right: 12px;
            height: 100%;
            width: 12px;
            // background-image: url(../src/assets/check-icon.svg);
            background-repeat: no-repeat;
            background-size: 8px;
            background-position: center center;
          }
        }
      }
      &.even {
        background-color: #f8f5f3;
        background-color: #f8f5f360;
        .swiper .swiper-text-selected {
          background: #c2c2c2;
          background: #cdc8c6;
        }
      }
    }
    .tab-overview {
      height: 32px;
      height: 24px;
      // background: white;
      box-shadow: 1px 15px 74px -52px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 1px 15px 74px -52px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 15px 74px -52px rgba(0, 0, 0, 0.75);
      // background: white;
      z-index: 999;
    }
  }
}

.swiper-container {
  width: 400px;
  height: 100%;
  z-index: inherit !important;
}
.swiper-wrapper {
  z-index: inherit !important;
  // position: static !important;
}
.swiper-container-horizontal > .swiper-scrollbar {
  bottom: 8px;
  height: 4px;
  left: 15px;
  border-radius: 0;
  opacity: 0;
  transition: 1.8s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.overview:hover .swiper-scrollbar {
  opacity: 1;
}
.swiper-scrollbar-drag {
  border-radius: 0;
  background: rgba(139, 139, 139, 0.5);
}

.swiper-slide {
  display: inline;
  text-align: center;
  display: inline-table;
  position: relative;
  cursor: pointer;
  width: 32px;
  &-selected {
    width: 350% !important;
    position: absolute;
    z-index: 2;
  }
  .swiper-description {
    // visibility: hidden;
    position: absolute;
    // display: none;
    visibility: hidden;
  }
  &:not(.swiper-slide-selected):hover {
    // outline: 1px black solid; /* inner stroke */
    outline-offset: -1px;
    transform: scale(1.1);
    z-index: 90;
    .swiper-description {
      line-height: 2;
      visibility: visible;
      // display: block;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: -3px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 34px;
  width: 21px;
  background-size: 7px;
  margin-top: -11px;
  background-color: #fcfcfc;
  opacity: 0;
  transition: 1.8s all cubic-bezier(0.075, 0.82, 0.165, 1);

  &.swiper-button-disabled {
    opacity: 0;
  }
}
.swiper-button-prev {
  background-image: url(../src/assets/arrow-left.svg);
  margin-left: -14px;
  margin-top: -8px;
  height: 36px;
}
.swiper-button-next {
  background-image: url(../src/assets/arrow-right.svg);
  right: -3px;
  margin-top: -8px;
  height: 36px;
  transform: translateX(12px);
}

.overview:hover .swiper-button-next {
  opacity: 1;
  transform: translateX(0px);
}

.overview:hover .swiper-button-prev {
  opacity: 1;
  transform: translateX(3px);
}

.bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  transform-origin: center;

  &.selected {
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    background-repeat: repeat;
    width: 100%;
    background-size: 17%;
    @media only screen and (min-width: 1500px) {
      background-size: 23%;
    }
  }
}

.payment-section {
  margin-top: 27px;
  padding: 0 0 0 10px;
  width: 68.4%;
  width: 76.4%;
  margin-left: 13.4%;
  position: absolute;
  bottom: 42px;
  bottom: 24px;
  left: 0;
  background-color: #f6f6f680;
  min-height: 24%;
  .text-description {
    line-height: 3;
    border-top: 1px solid #00000020;
    padding-top: 0px;
    margin-top: -14px;
    margin-bottom: 24px;
  }
  .infoGlass {
    text-decoration: underline;
    font-weight: 400;
    margin-top: 8px;
  }
  .material-display {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #5b5b5b;
    font-size: 12px;
  }
  .price {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    font-size: 24px;
    margin-right: 16px;
    width: 55%;
    text-align: left;
  }
  h2 {
    font-family: "Aleksei", serif;
    font-size: 32px;
    letter-spacing: 0.25px;
    font-weight: 500;
  }
  .sunglasses-info {
    float: right;
  }
  .copy-buy {
    align-items: center;
    clear: both;
    display: block;
    margin-top: 16px;
    pointer-events: none;
    display: flex;
    position: absolute;
    bottom: 12px;
    width: calc(100% - 21px);
    &.active {
      pointer-events: all;
    }
  }

  .buy-button {
    height: 42px;
    background: $color-emphasize;
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.4px;
    padding: 0 16px;
    opacity: 0.3;
    pointer-events: none;
    border: none;
    &.active {
      box-shadow: 2px 0px 10px #00000033;
      pointer-events: all;
      cursor: pointer;
      opacity: 1;
    }
  }
}

header {
  top: 0;
  height: 6vh;
  position: absolute;
  width: 100%;
  padding-left: 4vw;
  padding-left: 2vw; // no back button
  background-color: #fff;
  border-bottom: 1px solid #00000020;
  z-index: 99;
  display: flex;
  align-items: center;

  .info {
    position: absolute;
    margin-left: 86vw;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 0.25px;
    text-transform: inherit;
    cursor: pointer;
    opacity: 0.4;
    transition: 1s all ease-out;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../src/assets/info.svg");
      background-size: cover;
      margin-left: -20px;
      height: 14px;
      width: 14px;
    }
  }
  .back-button {
    height: 6.2vh;
    display: flex;
    left: 0;
    position: absolute;
    width: fit-content;
    transition: 0.5s all ease-out;
    background: $color-emphasize;
    &:hover {
      transform: perspective(1000px) translateZ(24px);
      box-shadow: 7px 9px 40px 0px rgb(0, 0, 0, 0.2);
    }
    img {
      width: 100%;
      height: auto;
      padding: inherit;
    }
  }
  .logo {
    left: 5vw;
    left: 1vw; // no back-button
    position: absolute;
    width: fit-content;
    img {
      width: 10vw;
      height: auto;
      padding: inherit;
    }
  }
  .share-container {
    margin-left: calc(91.1vw - 16px);
    margin-left: calc(92.6vw - 16px);
    position: absolute;
    .share {
      position: relative;
      // margin-left: calc(91.1vw - 16px);
      background-repeat: no-repeat;
      display: block;
      font-size: 12px;
      // margin-left: calc(68.7vw - 16px);
      // margin-left: 63.5vw;
      font-size: 12px;
      cursor: pointer;
      padding-left: 16px;
      letter-spacing: 0.25px;
      opacity: 0.4;
      transition: 1s all ease-out;
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
      &::before {
        content: "";
        position: absolute;
        background-image: url(../src/assets/share.svg);
        background-size: contain;
        width: 16px;
        height: 16px;
        margin-left: -23px;
        margin-top: -0.9px;
      }
    }

    .code {
      cursor: pointer;
      text-decoration: underline;
      position: relative;
      left: 21px;
      line-height: 2.5;
      a {
        opacity: 0.8;
      }
      .tooltip {
        line-height: 1.2;
        position: absolute;
        width: 120px;
        background-color: #000000d4;
        box-shadow: 2px 2px 14px #00000063;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        text-align: left;
        z-index: 999;
        width: fit-content;
        visibility: hidden;
        opacity: 0;
        top: -19px;
        left: 13%;
        width: 177px;
        padding: 7px;
        bottom: inherit;
        transform: translateX(-94%);

        &::after {
          content: " ";
          position: absolute;
          top: 100%; /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -5px;
          border-width: 5px;

          top: 50%;
          left: 100%; /* To the right of the tooltip */
          margin-top: -5px;
          margin-left: 0.01px;

          border-style: solid;
          border-color: transparent transparent transparent black;
        }
        &.valid {
          padding: 8px 29px 8px 8px;
          top: -27.9px;
          transform: translateX(-91%);
        }
        &.invalid {
          padding: 8px 8px 8px 8px;
          background-color: $color-emphasize;
          visibility: visible;
          opacity: 1;
          width: 150px;
          margin-top: 5px;
          transform: translateX(-94%);
          margin-top: -2px;
          transform: translateX(-89%);
          &::after {
            border-color: transparent transparent transparent $color-emphasize;
          }
        }
        &.active {
          visibility: visible;
          animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) showUpAndDisapear forwards;
        }

        &.valid::before {
          content: "";
          position: absolute;
          background-color: white;
          height: 10%;
          width: 100%;
          height: 13px;
          width: 13px;
          right: 18px;
          border-radius: 9999px;
          background-image: url(../src/assets/check-icon.svg);
          background-repeat: no-repeat;
          background-size: 8px;
          background-position: 1.6px center;
          margin: 0 auto;
          text-align: center;
          margin-top: 4px;
        }
        @keyframes showUpAndDisapear {
          0% {
            opacity: 0;
          }
          20% {
            opacity: 1;
          }
          80% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
  .text {
    margin-left: 24px;
  }
  .description {
    position: absolute;
    display: grid;
    align-items: center;
    height: 100%;
  }
  .models {
    margin-left: 60.27vw;
    &::before {
      content: "";
      position: absolute;
      margin-left: -2.31vw;
      top: 0;
      height: 100%;
      border-left: 1px solid #00000020;
    }
  }
  .materials {
    margin-left: 71.62vw;

    &::before {
      content: "";
      position: absolute;
      margin-left: -2.2vw;
      top: 0;
      height: 100%;
      border-left: 1px solid #00000020;
    }
  }

  .home {
    width: 8vh;
    border-right: 1px solid black;
    height: 8vh;

    display: inline;
  }
  .schichtler {
    margin-left: 12vw;
    margin-left: 10vw;
    white-space: nowrap;
  }
}

.tooltip-material {
  &-box {
    position: absolute;
    top: 0;
    height: 20px;
    width: 100%;
    left: 0;
    z-index: 99999;
    pointer-events: none;

    &.hovering-prev {
      left: inherit;
      top: 1px;
    }
    &.hovering-next {
      top: 5px;
      left: 50%;
      top: -2px;
      left: 13%;
    }
  }
  pointer-events: none;
  white-space: nowrap;
  line-height: 1.2;
  position: absolute;
  width: 120px;
  width: auto;
  background-color: #000000;
  box-shadow: 2px 2px 14px #00000063;
  color: #fff;
  text-align: center;
  padding: 0px 6px;
  border-radius: 6px;

  text-align: left;
  z-index: 999;

  font-size: 9px;
  top: 45%;

  display: block;
  transform: translateX(-50%) translateY(3px);
  position: relative;
  width: max-content;
  text-align: center;
  margin-left: 16px;
  opacity: 1;
  display: block;
  &::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
}

.hovering-prev .tooltip-material:after {
  left: inherit;
  bottom: inherit;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.hovering-prev .tooltip-material {
  transform: translateX(-11%) translateY(-4px);
}
.hovering-next.blocked {
  // display: none;
}
.hovering-prev.blocked {
  // display: none;
}
.hovering-next .tooltip-material {
  // margin-top: -12px;
  // margin-left: -14.5px;
  transform: translateX(-100%);
  margin-left: inherit;
}
.hovering-next .tooltip-material:after {
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;

  margin-left: 0.01px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.dropbtn {
  border: none;
  cursor: pointer;
  background: inherit;
  &.alert {
    color: red;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url(../src/assets/arrow-dropdown.svg);
    height: 14px;
    width: 14px;
    background-size: contain;
    // margin-top: -2px;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content.clicked {
  display: none;
}

.dropdown:hover .dropbtn {
  &::after {
    background-image: url(../src/assets/arrow-dropup.svg);
  }
}
.info-overlay {
  position: absolute;
  background: #00000090;
  z-index: 99;
  width: 100%;
  height: 100vh;
  font-size: 13px;
  &-overlay {
    position: absolute;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 7px 9px 40px 0px rgb(0, 0, 0, 0.2);
    top: 1vh;
    bottom: 0;
    z-index: 99;
    width: 50%;
    left: 0;
    right: 0;
    width: 45%;
    border-radius: 4px;
    padding: 0 40px 0 0;
    height: auto;
    overflow: scroll;
    bottom: 1vh;
    width: 49%;
    .close {
      background-image: url("../src/assets/close.svg");
      height: 24px;
      width: 24px;
      box-shadow: inherit;
      border: none;
      background-size: cover;
      background-color: inherit;
      cursor: pointer;
      z-index: 199;
      position: absolute;
      margin: 11px 0 0 8px;
      box-shadow: none;
    }
  }
  ul {
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 24px;

    h3 {
      margin-top: 16px;
      font-family: "Aleksei", sans-serif;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
.copyright-remark {
  // text-align: right;
  // opacity: 0.2;
  line-height: 3;
  // position: absolute;
  // left: 46.5vw;
  text-decoration: none;
}
@import "./variables";
@import "./buttons";
