$color-emphasize: #ffbb11;

// ALEKSEI REGULAR WOFF & WOFF2
@font-face {
  font-family: "Aleksei";
  src: url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff);
  src: url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff) format("embedded-opentype"),
    url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff2) format("woff2"),
    url(../src/assets/fonts/Aleksei/Webfonts/Aleksei-Regular.woff) format("woff");
}

// ROBOTO REGULAR + MEDIUM
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

body {
  margin: inherit;
  // overflow: hidden;

  h1,
  h2,
  h3,
  h4,
  ul,
  li {
    margin: 0;
  }
}
.main {
  display: flex;
  width: 100%;
}

.text {
  &-product-description {
    font-family: "Aleksei", serif;
    font-size: 8px;
    color: #6c6c6c;
  }
  &-tab {
    font-size: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    text-transform: uppercase;
    letter-spacing: 1px;
    &.deactivated {
      opacity: 0.1;
      pointer-events: none;
    }
  }
  &-medium {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #000000;
  }
}
.three-model-container {
  position: relative;
  height: 100vh;
  width: 52%;
  width: 52vw;
  display: flex;
  background: #faf6f4;

  .three-navigation {
    position: absolute;
    width: 14%;
    height: 140px;
    list-style: none;
    align-items: center;
    text-align: center;
    display: grid;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);

    .navigation-element {
      height: 42px;
      width: 42px;
      cursor: pointer;
      border: 1px solid #ddd;
      display: inline-block;
      position: relative;
      transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
      &.fullscreen {
        &::after {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          background-image: url(../src/assets/full-screen.svg);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: 11px;
        }
      }
      &.plus {
        &::after {
          content: "";
          position: absolute;
          height: 16px;
          width: 16px;
          background-image: url(../src/assets/plus.svg);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: 13px;
        }
      }
      &.expanded {
        &::after {
          content: "";
          position: absolute;
          height: 28px;
          width: 28px;
          background-image: url(../src/assets/expand.svg);
          background-size: contain;
          background-repeat: no-repeat;
          left: 0;
          right: 0;
          margin: 0 auto;
          margin-top: 18px;
        }
      }
      &.active {
        transform: scale(0.8);
        border: 1px solid #000;
        &.plus::after {
          margin-top: 20px;
          background-image: url(../src/assets/minus.svg);
        }
        &.fullscreen::after {
          margin-top: 12px;
          background-image: url(../src/assets/contract.svg);
        }
      }
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  #three-model {
    height: 100%;
    width: 86%;
    // width: 51vw;
    // padding-right: 14%;
  }
  .three-currentmaterial {
    display: none;
  }
  &.toggledFullscreen {
    position: absolute;
    z-index: 99;
    width: 100%;

    .three-navigation {
      left: 6.5%;
    }
  }
}

.content-area {
  background: #fefdfb;
  height: 100vh;
  display: flex;
}

.glasses-picker-container {
  width: 26%;
  height: 100vh;
  background: #fefdfb;
  position: relative;

  .glasses {
    background: #fff;
    opacity: 0.3;
    width: 100%;
    height: 20%;
    display: block;
    margin-bottom: 4px;
    transition: all 0.1s ease-in;
    position: relative;
    cursor: pointer;

    text-align: center;
    img {
      width: 85%;
      margin-top: 39px;
    }
    h4 {
      font-size: 8px;
    }
    span {
      font-size: 8px;
    }
    &:hover {
      transform: perspective(1000px) translateZ(24px);
      box-shadow: 7px 9px 40px 0px rgb(0, 0, 0, 0.2);
      opacity: 1;
      z-index: 12;
    }
    &.selected {
      background: white;
      opacity: 1;
      box-shadow: -4px 2px 6px #00000012;
      z-index: 12;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        background-color: $color-emphasize;
        height: 10%;
        width: 100%;
        background-image: url(../src/assets/check-icon.svg);
        background-repeat: no-repeat;
        background-size: 8px;
        background-position: center center;
      }
    }
  }
}

.material-picker-container {
  width: calc(100% - 4px);
  background: #ffffff;
  // margin-left: 4px;
  height: 100vh;
  box-shadow: 22px -26px 24px #000;
  z-index: 10;
  .material-picker {
    display: flex;
    width: 57.4%;
    height: 80px;
    margin-left: 24.4%;
    &:not(:first-child) {
      margin-top: 8px;
    }
    .index {
      line-height: 2.5;
      margin-left: -18%;
      margin-right: 15%;
    }

    .overview {
      position: relative;
      display: flex;
      list-style-type: none;
      width: 100%;
      padding-inline-start: 0;
      li {
        display: grid;
        width: 33%;
        height: 32px;
        text-align: center;
        align-items: center;
        cursor: pointer;

        &.active {
          // background: #dddddd;
          border: 1px solid #ddd;
        }
      }
      .swiper {
        height: 34px;
        padding: 4px 4px 20px;
        position: absolute;
        display: block;
        width: 100%;
        margin-top: 42px;

        &-text-selected {
          position: absolute;
          z-index: 4;
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
          right: 0;
          top: 4px;
          background: #0000008c;
          height: calc(100% - 24px);
          line-height: 4.5;
          width: 80px;
          padding-left: 12px;

          &::after {
            content: "";
            position: absolute;
            right: 12px;
            height: 100%;
            width: 12px;
            background-image: url(../src/assets/check-icon.svg);
            background-repeat: no-repeat;
            background-size: 8px;
            background-position: center center;
          }
        }
      }
    }
  }
}

.swiper-container {
  width: 400px;
  height: 100%;
}

.swiper-wrapper.selected {
  overflow: hidden;
}
.swiper-slide {
  display: inline;
  text-align: center;
  min-width: 32px;
  display: inline-table;
  position: relative;
  cursor: pointer;
  
  &-selected {
    width: 300% !important;
    position: absolute;
    z-index: 2;
    // overflow: hidden;
    &.even {
      height: 297px;

      h3 {
        transform: rotate(90deg) translateX(-68.6%) translateY(-149px);
        width: 100%;
        transform-origin: left;
      }
    }
  }
  .swiper-description {
    visibility: hidden;
  }
  &:not(.swiper-slide-selected):hover {
    outline: 2px $color-emphasize solid; /* inner stroke */
    outline-offset: -2px;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 7px 9px 40px 0px rgb(0, 0, 0, 0.2);
    .swiper-description {
      line-height: 2;
      visibility: visible;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  // margin-top: 40px;
  margin-top: 18px;
  height: 8px;
  width: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  &.swiper-button-disabled {
    opacity: 0;
  }
}
.swiper-button-prev {
  background-image: url(../src/assets/arrow-left.svg);
  margin-left: -32px;
}
.swiper-button-next {
  background-image: url(../src/assets/arrow-right.svg);
  right: -32px;
}

.bg {
  background-position: center center;
  background-size: contain;
  height: 100%;

  &.selected {
    background-repeat: no-repeat;
    background-size: 54%;
    background-position: left center;
  }
}

.payment-section {
  height: auto;
  margin-top: 80px;
  width: 57.4%;
  margin-left: 24.4%;

  .buy-button {
    height: 42px;
    background: black;
    color: white;
    text-transform: uppercase;
    box-shadow: 2px 2px 14px #00000063;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.4px;
    padding: 0 16px;
    cursor: pointer;
  }
}

@import "./variables";
@import "./buttons";
